<div class="tab-pane fade in" id="picture">
    {% if app.session.flashBag.has('pictureSuccess') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('pictureSuccess') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('pictureError') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('pictureError') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <img src="{{ picturePath ~ picture}}" width="200px" height="auto">
    <br><br>
    <h4>{% trans %}label.edit_picture{% endtrans %} :</h4>
    <form name="picture" method="post" enctype='multipart/form-data'>
        <input name="picture" type="file" required>
        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
    </form>
</div>