{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                {% for role in app.user.roles if role != 'ROLE_ADMIN' %}
                    {{ role }} //ROLE_USER
                {% endfor %}
                <h1><span>Welcome o</span> amjz {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

