{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
    </div>
    <script>
        jQuery(document).ready(function() {
            FancyBox.initFancybox();
        });
    </script>
{% endblock %}