{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-sm-3">
        {{ include('admin/navbar.html.twig') }}
    </div><!--/end left column-->
    <div class="col-md-9">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% block table %}{% endblock %}
    </div>
    {% block modal %}
        {{ include('admin/modal/delete.html.twig') }}
    {% endblock modal %}
{% endblock %}
