{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
        <div class="col-md-3">
            {{ include('host/domain/nav.html.twig') }}
        </div>
        <div class="col-md-9">
            {% block domain %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
