{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% for rental in rentals %}
            {{ rental.name }}
            {{ rental.id }}
            <a href="{{ path('rental', {'id' : rental.id}) }}">
                <input type="button" value="see">
            </a>
            <button id="whishlist" onclick="addToWishlist('{{ rental.id }}')">Whishlist</button>
            <br>
        {% endfor %}
    </div>
    <script>
        function addToWishlist(rentalId) {
            $.ajax({
                url: path,
                type: 'PUT',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#modalCreate').html(data);
                    $('#' + modalId).modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
    </script>
{% endblock %}
