{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        Réservation pour la location : {{ rental.name }}
        <br><br>
        <form method="post" name="order">
            <div id="sandbox-container">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" id="start" name="start" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" id="end" name="end" />
                </div>
            </div>
            <br>
            <input name="rental" value="{{ app.request.get('id') }}" hidden>
            <div id="bill" hidden>
                <label>Prix par nuit <spam class="glyphicon glyphicon-question-sign"></spam></label>
                <label for="averagePrice"></label><br>
                <label>Nombre de jour <spam class="glyphicon glyphicon-question-sign"></spam></label>
                <label for="daysNumber"></label><br>
                <label>Prix total <spam class="glyphicon glyphicon-question-sign"></spam></label>
                <label for="price"></label><br>
                <input type="submit" value="{% trans %}label.submit{% endtrans %}" class="btn btn-default">
            </div>
        </form>
    </div>
    <script>
        function getFormattedDate(date) {
            var year = date.getFullYear();
            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;
            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;
            return day  + '-' + month + '-' + year;
        }
        var startDate = new Date();
        var endDate = new Date();
        var daysNumber = 0;
        var averagePrice = 0.0;

        var rentalPromotionsArray = {{ rentalPromotions|json_encode|raw }};
        function init(){
            for(var i = 0; i<rentalPromotionsArray.length; ++i){
                rentalPromotionsArray[i].startDate = new Date(rentalPromotionsArray[i].startDate * 1000);
                rentalPromotionsArray[i].endDate = new Date(rentalPromotionsArray[i].endDate * 1000);
            }
        }

        function getDaysNumber(){
            var timeDiff = Math.abs(endDate.getTime() - startDate.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            return diffDays;
        }
        function getPrice() {
            return Number((averagePrice * daysNumber).toFixed(2));
        }
        function getPriceByDate(date) {
            var price = {{ rental.price }};
            for(var i = 0; i<rentalPromotionsArray.length; ++i){
                if((date.getTime() >= rentalPromotionsArray[i].startDate.getTime()) && (date.getTime() <= rentalPromotionsArray[i].endDate.getTime())){
                    console.log(date);
                    price = rentalPromotionsArray[i].price;
                    break;
                }
            }
            return price;
        }



        $(document).ready(function() {
            init();
            $('#sandbox-container .input-daterange').datepicker({
                startDate: ""+getFormattedDate(new Date)+"'",
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayHighlight: true,
                beforeShowDay: function(date) {
                    var objet = {enabled:true, tooltip:getPriceByDate(date)+" €"};
                    return objet;
                }
            }).each(function() {
                $(this).datepicker().on('changeDate', function (ev) {
                    console.log(ev);
                    if(ev.target.id === 'start') {
                        startDate = ev.date;
                        console.log(startDate);
                    } else {
                        endDate = ev.date;
                        console.log(endDate);
                    }
                    if(endDate.getTime() > startDate.getTime()) {
                        $('#bill').show();
                        daysNumber = getDaysNumber();
                        $("label[for='daysNumber']").html(daysNumber);
                        var count = 0;
                        var date = startDate;
                        while (date.getTime() < endDate.getTime()) {
                            averagePrice += getPriceByDate(date);
                            date.setDate(date.getDate() + 1);
                            count++;
                        }
                        averagePrice = Number((averagePrice / count).toFixed(2));
                        $("label[for='averagePrice']").html(averagePrice);
                        $("label[for='price']").html(getPrice());
                    } else {
                        $('#bill').hide();
                    }
                })
            });
        });
    </script>
{% endblock %}
