{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% for domain in domains %}
            {{ domain.name }}
            <br>
        {% endfor %}
        {% for box in boxes %}
            {{ box.id }}
            <br>
        {% endfor %}
    </div>
{% endblock %}
