{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <a href="{{ path('event_request_new') }}">
            <button class="btn btn-primary">New</button>
        </a>
    </div>
{% endblock %}
