{% extends 'base.html.twig' %}
{% block body %}
    <!-- Interactive Slider v2 -->
    <div class="cover-img" style="background: url({{ banner_directory ~'red-bottles.jpeg' }})">
        <h1>ADMIN</h1>
    </div>
    <!-- End Interactive Slider v2 -->
    <div class="bg-grey">
        <div class="row">
            {{ include('host/nav.html.twig') }}
            <div class="container">
                <div class="content">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}