<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="lastName">*{% trans %}label.last_name{% endtrans %} : </label>
            <input type="text" class="form-control" id="user[lastName]" name="user[lastName]" required="required">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="firstName">*{% trans %}label.first_name{% endtrans %} : </label>
            <input type="text" class="form-control" id="user[firstname]" name="user[firstname]" required="required">
        </div>
    </div>
</div>
<div class="form-group" id="phoneNumber">
    <label for="phoneNumber">*{% trans %}label.phone_number{% endtrans %} : </label>
    <input type="text" class="form-control" id="phoneNumber" maxlength="10" name="user[phoneNumber]" required>
</div>
<div class="form-group" id="emailFieldset">
    <label for="email">*{% trans %}label.email{% endtrans %} : </label>
    <input type="email" type="email" class="form-control" id="email" name="user[email]" required>
</div>
<div id="emailRepeatFieldset" class="form-group has-feedback">
    <label for="email">*{% trans %}label.email_confirmation{% endtrans %} : </label>
    <input type="email" type="email" class="form-control" id="emailRepeat" name="user[emailRepeat]" required>
</div>
<div class="form-group" id="passwordFieldset">
    <label for="password">*{% trans %}label.password{% endtrans %} : </label>
    <input type="password"data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le mot de passe doit contenir une majuscule, une minuscule, un chiffre et 6 caractères." type="password" class="form-control" id="password" name="user[password]" required >
</div>
<div class="form-group" id="passwordRepeatFieldset">
    <label for="passwordRepeat">*{% trans %}label.confirmation_password{% endtrans %} : </label>
    <input type="password" type="password" class="form-control" id="passwordRepeat" name="user[passwordRepeat]" required>
</div>