<ul class="nav navbar-nav navbar-right">
    <li class="{% if app.request.get('_route') == 'home' %}active{% endif %}"><a href="{{ path('home') }}">{% trans %}label.home{% endtrans %}</a></li>
    <li class="{% if app.request.get('_route') == 'explore' %}active{% endif %}"><a href={{ path('explore') }}>{% trans %}label.explore{% endtrans %}</a></li>
    <li class="{% if app.request.get('_route') == 'boxes' %}active{% endif %}"><a href="{{ path('boxes') }}">{% trans %}label.offer{% endtrans %}</a></li>
    <li class="{% if app.request.get('_route') == 'articles' %}active{% endif %}"><a href={{ path('articles') }}>{% trans %}label.blog{% endtrans %}</a></li>
    <li class="{% if app.request.get('_route') == 'registration' or app.request.get('_route') == 'registration_host'%}active{% endif %}"><a data-toggle="modal" data-target="#modal-signup">{% trans %}label.registration{% endtrans %}</a></li>
    <li ><a><button class="btn btn-primary" data-toggle="modal" data-target="#login">{% trans %}label.login{% endtrans %}</button></a></li>
</ul>