<html>
    <body>
    {#<p>{{ 'text.welcome' | trans({"%name%":user.firstName}, "messages", language) }}.</p>#}
    <p>Félicitation votre réservation à bien été effectué. Le viticulteur à 6 jours pour accepter votre demande à la suite de quoi votre carte sera débité</p>
    </body>
</html>
