<html>
    <body>
    <p>{{ 'text.welcome' | trans({"%name%":user.firstName}, "messages", language) }}.</p>
    <a href="{{ resetPassword }}">{{ 'label.reset_password' | trans({}, "messages", language) }}</a>
    </body>
</html>
