{% extends 'host/property/new/base.html.twig' %}
{% block new %}
    <br>
    <span class="h4">{% trans %}label.presentation_picture{% endtrans %}</span>
    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans %}help.presentation_picture{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
    <p style="font-style: italic"> {% trans %}label.property_pictures_explication{% endtrans %}</p>
    <br>
    <form name="media" method="post" enctype="multipart/form-data">
        <input name="media[media]" type="file" multiple="false" class="form-control" accept="image/*">
        <br>
        <input type="submit" class="btn btn-primary btn-lg pull-right" value="{% trans %}label.submit{% endtrans %}" >
    </form>
{% endblock %}